모든 포스트 출력<br>
<br><br>
<a href="/blog/write">글쓰기</a><br>
<% @posts.each do |p| %>
<p>
    순번: <%=p.id %><br>
    제목: <%=p.title %><br>
    내용: <%=p.contents %><br>
    작성시간: <%=p.created_at %><br>
    <a href="/blog/update/<%=p.id%>">[업데이트]</a>
    <a href="/blog/delete/<%=p.id%>">[삭제]</a>
</p>
<% end %>

